.signin-form {
    max-width: 470px;
    margin: 15px auto 60px;
}

@media (min-width: 768px) {
  .signin-form {
    margin-top: 33px;
    margin-bottom: 80px;
  }
}

.form-more {
  margin-bottom: 39px;
}

.form-more .help-link {
  display: inline-block;
  float: right;
  margin-top: 4px;
}

.form-more .checkbox {
  margin: 0;
}

/* Sing Up */
.signup-form {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .signup-form {
    margin-bottom: 80px;
  }
}

.signup-form .radio-inline-container {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .signup-form .radio-inline-container {
    margin-top: 45px;
    margin-bottom: 0;
  }
}
  